html,
body {
  position: relative;
  color: #2a2a2a;
  width: 100%;
  overflow-x: hidden;
}

.ml16 {
  padding: 20px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

.google-map-view div {
  outline: none !important;
}

.leaflet-control-attribution.leaflet-control {
  display: none !important;
}

#reception-map {
  .leaflet-left {
    left: auto !important;
    right: 0 !important;
    .leaflet-control {
      margin-left: 0 !important;
      margin-right: 10px !important;
    }
  }
}

.leaflet-container {
  background-color: lightgray; /* Change map background color */
}
